
html {
	margin: auto;
	}

body {
  font-family: 'Merriweather', serif;
  color: #40514E
  margin: 50px auto 0 auto;
  text-align: center;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


p {
  line-height: 2;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625 rem;
  margin: auto;
  color: #66BFBF;
  font-weight: normal;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5 rem;
  margin-bottom: 100;
  color: #7D775C;
  font-weight: normal;
  padding-bottom: : 10px;
  }

h3 {
	font-family: 'Sacramento', cursive;
  font-size: 2.5 rem;
	margin: auto;
	color: #7D775C;
  font-weight: normal;
  text-align: center;
	}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  }

a:hover {
  color: #EAF6F6;
  }

.profile {
    margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}
.middle-container {
  margin: auto
  color: #40514E
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.btn {
    background: #f5b8f0;
    background-image: -webkit-linear-gradient(top, #f5b8f0, #a164de);
    background-image: -moz-linear-gradient(top, #f5b8f0, #a164de);
    background-image: -ms-linear-gradient(top, #f5b8f0, #a164de);
    background-image: -o-linear-gradient(top, #f5b8f0, #a164de);
    background-image: linear-gradient(to bottom, #f5b8f0, #a164de);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #e3b1e3;
    background-image: -webkit-linear-gradient(top, #e3b1e3, #cd7ee8);
    background-image: -moz-linear-gradient(top, #e3b1e3, #cd7ee8);
    background-image: -ms-linear-gradient(top, #e3b1e3, #cd7ee8);
    background-image: -o-linear-gradient(top, #e3b1e3, #cd7ee8);
    background-image: linear-gradient(to bottom, #e3b1e3, #cd7ee8);
    text-decoration: none;
  }
